@model IEnumerable<Product>
@section Scripts
{
  <script src="~/clientapp/dist/runtime.js" type="module"></script>
  <script src="~/clientapp/dist/polyfills.js" type="module"></script>
  <script src="~/clientapp/dist/styles.js" type="module"></script>
  <script src="~/clientapp/dist/vendor.js" type="module"></script>
  <script src="~/clientapp/dist/main.js" type="module"></script>
}
<h1>Shop</h1>
<my-app></my-app>
